@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    word-break: break-all;
}

.menu {
    font-family: 'Poppins', sans-serif;
}

.menu a {
    letter-spacing: 1.5px;
}

.logo {
    width: 60px !important;
    height: 60px !important;
}

.footer-logo {
    width: 50px !important;
    height: 50px !important;
}

.card {
    width: 280px;
    height: 350px;
    background-color: white;
}

.card-item {
    border-radius: 100px;
}

.icon,
.icon:hover,
.icon:focus,
.icon:visited {
    text-decoration: none;
}

.button {
    /* 
    display: inline-block;
    padding: 2rem;
    text-align: center;
    background-color: white;
    margin: 5rem; */
    text-decoration: none;
    border: 1px solid orange;
    transition: color 0.25s;
    position: relative;
    z-index: 1;
}

.button:before {
    content: "";
    height: 100%;
    width: 0;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.25s linear;
}

.button:hover:before {
    width: 100%;
}

.button:hover {
    color: white;
}